
body {
	overflow: hidden; /*hidden the scroll*/
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Arial';
}

.balloon {
	width: 100px;
	height: 200px;
	position: absolute;
	top: 100vh;


	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.balloon-red {
	background-image: url(images/balloon-red.png);
}

.balloon-green {
	background-image: url(images/balloon-green.png);
}

.balloon-blue {
	background-image: url(images/balloon-blue.png);
}

.balloon-violet {
	background-image: url(images/balloon-violet.png);
}

.balloon-yellow {
	background-image: url(images/balloon-yellow.png);
}

.win {
	display: none;
	position: relative;
	z-index: 1000;
}

.win img {
	width: 165px;
	height: 320px;
}

.lose {
	display: none;
	position: relative;
	z-index: 1000;
}

.total-shadow {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.6);
	display: none; /*flex*/
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: 1000;
}

.total-block {
	padding: 10px 70px 40px;
	text-align: center;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.8) ;
}

.score-block {
	width: 300px;
	height: 60px;
	background-color: #efefef;
	border-radius: 10px 10px 0 0;
	position: absolute;
	bottom: 0;
	left: calc(50% - 150px);	
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.score-block p  {
	font-size: 18px;
}